<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminateMedicamento</servlet-name>
        <servlet-class>Servlets.EliminateMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminateProveedor</servlet-name>
        <servlet-class>Servlets.EliminateProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminateUsuario</servlet-name>
        <servlet-class>Servlets.EliminateUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyMedicamento</servlet-name>
        <servlet-class>Servlets.ModifyMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyProveedor</servlet-name>
        <servlet-class>Servlets.ModifyProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyUsuario</servlet-name>
        <servlet-class>Servlets.ModifyUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMedicamento</servlet-name>
        <servlet-class>Servlets.NewMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProveedor</servlet-name>
        <servlet-class>Servlets.NewProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUsuario</servlet-name>
        <servlet-class>Servlets.NewUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCatalogoMedicamento</servlet-name>
        <servlet-class>Servlets.ToCatalogoMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCatalogoProveedor</servlet-name>
        <servlet-class>Servlets.ToCatalogoProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCatalogoUsuario</servlet-name>
        <servlet-class>Servlets.ToCatalogoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToModiCrearMedicamento</servlet-name>
        <servlet-class>Servlets.ToModiCrearMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToModiCrearProveedor</servlet-name>
        <servlet-class>Servlets.ToModiCrearProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToModiCrearUsuario</servlet-name>
        <servlet-class>Servlets.ToModiCrearUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminateMedicamento</servlet-name>
        <url-pattern>/EliminateMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminateProveedor</servlet-name>
        <url-pattern>/EliminateProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminateUsuario</servlet-name>
        <url-pattern>/EliminateUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyMedicamento</servlet-name>
        <url-pattern>/ModifyMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyProveedor</servlet-name>
        <url-pattern>/ModifyProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyUsuario</servlet-name>
        <url-pattern>/ModifyUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMedicamento</servlet-name>
        <url-pattern>/NewMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProveedor</servlet-name>
        <url-pattern>/NewProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUsuario</servlet-name>
        <url-pattern>/NewUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCatalogoMedicamento</servlet-name>
        <url-pattern>/ToCatalogoMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCatalogoProveedor</servlet-name>
        <url-pattern>/ToCatalogoProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCatalogoUsuario</servlet-name>
        <url-pattern>/ToCatalogoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToModiCrearMedicamento</servlet-name>
        <url-pattern>/ToModiCrearMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToModiCrearProveedor</servlet-name>
        <url-pattern>/ToModiCrearProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToModiCrearUsuario</servlet-name>
        <url-pattern>/ToModiCrearUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
